*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro','sans-serif';
}
@media screen and (max-width: 425px) {
    header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #10C6C8;
    width: 100%;
    height: 15vh;
}
}

header ul{
    display: flex;
    gap: 40px;
    list-style: none;

}
header a{
    text-decoration: none;
    font-size: 26px;
    color: #fff;
}
header a:hover{
    color: #000;
}
.secao-banner{
    height: 60vh;
    width: 100%;
    padding: 20px 40px;
    background-image: url(../img/recepcao2.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.secao-banner::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}
.secao-banner h1 {
    margin-left: 10%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}
