*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro','sans-serif';
}
body{
     width: 100%;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #10C6C8;
    padding: 20px 10px 10px 10px;
}
header img{
    height: 60px;
}
header ul{
    width: 100%;
    padding: 2px;
    justify-content: center;
    display: flex;
    gap: 35px;
    list-style: none;
    border-top: #10989b solid 1px;
}
header a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.secao-banner{
    height: 30vh;
    width: 100%;
    padding: 10px;
    background-image: url(../img/recepcao2.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.secao-banner::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}
.secao-banner h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: clamp(1px, 1.2rem, 50px);
}
