*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro','sans-serif';
}
body{
     background-color: #fff;
}
body::-webkit-scrollbar {
    display: none;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #04D9D9;
    padding: 20px 10px 10px 10px;
}
header img{
    height: 60px;
}
header ul{
    width: 100%;
    padding: 2px;
    justify-content: center;
    display: flex;
    gap: 35px;
    list-style: none;
    border-top: #10989b solid 1px;
}
section ul{
    padding: 10px;
    max-width: 80%;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    font-size: clamp(0.5rem, 1vw + 0.7rem , 1rem);
}
section ul a{
    text-decoration: none;
    color: #000000;
    border-bottom: #1dcaca solid 2px;
}

header a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
}
.subsecao-padrao{
    margin: auto;
    max-width: 400px;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.container-intro{
    max-width: 90%;
    margin: 20px auto;
}
.especialidade{
    margin-bottom: 15%;
}
.especialidade-imagem img{
    display: none;
}
p {
    font-size: clamp(0.5rem, 1vw + 0.7rem , 1rem);
    color: #777777;

}
h2{
    font-size: clamp(0.8rem, 1vw + 0.9rem , 1.4rem);
    font-weight: 600;
    color: #131313;
    min-width: 20%;
}
h3 {
    font-size: clamp(0.8rem, 1vw + 0.8rem , 1.4rem);
    margin-bottom: 14px;   
    font-weight: 600;
    color: #333333;
}
footer {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    
    background-color: #0E7373;
}
footer p{
    color:#fff;
    font-size: clamp(0.5rem, 1vw + 0.8rem , 1rem);
}
footer img{
    width: 120px;
}
.footer-conteudo{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
table{
    width: 100%;
    height: 20vh;
    margin: 16px auto 0 auto;
    border-collapse: collapse;   
}
thead th{
    background-color: #04D9D9;
    color: #fff;
    padding: 5px 10px;
    font-size: clamp(0.5rem, 1vw + 0.8rem , 1rem);
    text-align: start;
}
thead th:first-child{
    width: 40%;
}
td{
   height: 20% ;
}
tbody tr:nth-of-type(odd){
    background-color: #adadad;
}
tbody tr:nth-of-type(even){
    background-color: #dadada;
}
td{
     padding: 5px 10px;
    font-size: clamp(0.5rem, 1vw + 0.6rem , 1rem);
    text-align: start;
}